/*
 * standards and conventions
 *
 * colour swatch:
 * white = #fff
 * black = #4c4c4c
 * blue = #0000cc
 * purple = #551a8b
 * green = #149900
 * orange = #ffaa00
 * light grey = #ddd;
 * code light red = #ff0000
 * code dark red = #a31515
 * code blue = #0000ff
 *
 * index:
 * 1. fonts
 * 2. normalise html5
 * 3. default styles (based on boilerplate/normalise)
 * 4. helper classes (non-semantic)
 * 5. shared states
 * 6. style patterns
 * 7. layout patterns (non-semantic)
 * 8. @mediaqueries
 */

/* 1. fonts  */
	/*  headings (licence: http://www.fontsquirrel.com/license/PT-Sans) */
		@font-face {
			font-family: "PTSansRegular";
				src: url("../fonts/PTS55F-webfont.eot");
				src: url("../fonts/PTS55F-webfont.eot?#iefix") format("embedded-opentype"),
					url("../fonts/PTS55F-webfont.woff") format("woff"),
					url("../fonts/PTS55F-webfont.ttf") format("truetype");
			font-weight: normal;
			font-style: normal;
		}
	
/* 2. normalise html5 */
	/* corrects block display not defined in IE6/7/8/9 & FF3 */
		article,
		aside,
		details,
		figcaption,
		figure,
		footer,
		header,
		hgroup,
		nav,
		section {
			display: block;
		}

/* 3. default styles (based on boilerplate/normalise) */
	html {
		font-size: 100%;
		overflow-y: scroll;
		-webkit-text-size-adjust: 100%; 
		-ms-text-size-adjust: 100%; 
	}
	
	body {
		color: #000;	
		background: #fff;
		font-family: Helmet, Freesans, sans-serif;
		line-height: 1.5;
		margin: 0;
		padding: 1em 5%;
	}
	
	/* links */	
		a {
			color: #0000cc;	
			text-decoration: underline;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
		
		a:hover,
		a:active {
			outline: 0;
		}

		a:hover,
		a:focus { 
			background: #ffffaa;
		}
		
		a:focus {
			outline: thin dotted;
		}
	
		a:visited {
			color: #551a8b;
		}
	
	/* sectioning content */
		article {
			margin: 0 0 6em 0;
		}
			
		aside {
			border: 0.0625em solid #ddd;
			border-width: 0.0625em 0;
			margin: 0 0 2em 0;
			padding-top: 1em;
		}
		
		details {
			margin: 0 0 1em 0;
		}
		
		section {
			margin: 0 0 2em 0;
		}

	/* heading content */
		h1,
		h2,
		h3,
		h4,
		.alpha,
		.beta,
		.gamma,
		.delta {
			color: #000;
			font-family: PTSansRegular, Helmet, Freesans, sans-serif;
			font-size: 2em;
			font-weight: normal;
			line-height: 1;
			margin: 0 0 0.5em 0;
		}
		
		h2,
		.beta {
			font-size: 1.75em;
		}

		h3,
		.gamma {
			font-size: 1.375em;
		}
		
		h4,
		.delta {
			font-size: 1.125em;
		}
		
	/* text-level semantics */
		code {
			color: #f00;
			font-family: monospace, monospace;
			font-size: 0.813em;
		}
		
		.oldie code {
			_font-family: 'courier new', monospace;
		}

	/* grouping content */
		/* lists */
			dl {
				margin-bottom: 2.5em;
			}
			
			dl dt {
				font-style: italic;
			}
			
			dl dd {
				margin: 0.5em 0 0.5em 2.5em;
			}
		
			ol,
			ul {
				margin: 0 0 2em 0;
				padding: 0 0 0 2.5em;
			}
			
			ol ol,
			ul ul,
			ul ol,
			ol ul {
				margin-bottom: 0;
			}
		
		/* paragraphs and pre */
			p, 
			pre {
				margin: 0 0 2em 0;
			}
		
			pre {
				border: 0.0769em solid #aaa;
				border-width: 0.0769em 0;
				font-size: 0.813em;
				font-family: monospace, monospace;
				padding: 1em;
				/*white-space: pre;
				white-space: pre-wrap;
				word-wrap: break-word;*/
			}
		
			.oldie pre {
				_font-family: 'courier new', monospace;
			}

	/* embedding content */
		img {
			background-color: #fff;
			border: 0;
			-ms-interpolation-mode: bicubic;
		}

/* 4. helper classes (non-semantic) */
	/* clearfix */
		.clearfix:before,
		.clearfix:after {
			content: "";
			display: table;
		}

		.clearfix:after {
			clear: both;
		}

		.oldie .clearfix {
			*zoom: 1;
		}
		
	/* image replacement */
		.image-replacement {
			background-repeat: no-repeat;
			display: block;
			direction: ltr;
			overflow: hidden;
			text-align: left;
			text-indent: -999em;
		}
		
	/* inline-block */
		.inline-block {
			display: -moz-inline-box;
			display: inline-block;
			position: relative;
		}
		
		.oldie .inline-block {
			*display: inline;
			*zoom: 1;
		}
		
/* 5. shared states */
	/* hidden */
		.is-hidden,
		[hidden] {
			display: none;
			visibility: hidden;
		} 

	/* hide only visually, but have it available for screenreaders */
		.is-visually-hidden {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		.is-visually-hidden.focusable:active,
		.is-visually-hidden.focusable:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}

	/* hide visually and from screenreaders, but maintain layout */
		.is-invisible {
			visibility: hidden;
		}

/* 6. style patterns */
	/* code examples */
		.example:before,
		.structure:before {
			background: #aaa;
			color: #fff;
			content: "Example";
			display: block;
			margin: -1em 0 1em -1em;
			padding: 0.27em;
			width: 10em;
		}
		
		.structure:before {
			content: "Structure";
		}
		
	/* copy high-lighting */
		.comment {
			color: #006400;
		}
		
		.selector {
			color: #800000;
		}
		
		.property {
			color: #ff0000;
		}
		
		.property-value {
			color: #0000ff;
		}
		
	/* header */
		.banner {
			margin-bottom: 2em;
		}
		
		.banner h1 {
			font-size: 2.5em;
		}
		
	/* footer */
		.content-info small {
			font-size: 0.750em;
		}

/* 7. layouts (non-semantic) */

/* 8. @mediaqueries */
	/* 1st design breakpoint  */
		@media only screen and (min-width: 40em) {
			body {
				max-width: 60em;
			}
		}
		
	/* print */
		@media print {
			* {
				background: transparent !important;
				color: black !important;
				-moz-border-radius: 0 !important;
				border-radius: 0 !important;
				-webkit-box-shadow: none !important;
				-moz-box-shadow: none !important;
				box-shadow: none !important;
				-ms-filter: none !important;
				filter: none !important;
				text-shadow: none !important;
			}
			
			a, 
			a:visited { 
				color: #9c9c9c !important;
				text-decoration: underline;
			}
			
			a[href]:after {
				content: " (" attr(href) ")";
			}
			
			abbr[title]:after {
				content: " (" attr(title) ")";
			}
			
			.image-replacement a:after,
			a[href^="javascript:"]:after,
			a[href^="#"]:after {
				content: "";
			}
			
			pre,
			blockquote {
				page-break-inside: avoid;
			}
			
			thead {
				display: table-header-group;
			}
			
			tr,
			img {
				page-break-inside: avoid;
			}
			
			@page { 
				margin: 0.5cm;
			}
			
			p,
			h2,
			h3 {
				orphans: 3;
				widows: 3;
			}
			
			h2,
			h3 {
				page-break-after: avoid;
			}
		}